server:
  port: 9001
spring:
  application:
    name: feign-consumer
eureka:
  client:
    service-url:
      defaultZone: http://service1:8081/eureka/
hystrix:
  command:
    default:
      execution:
        timeout:
          enabled: true
feign:
  hystrix: 
    enabled: true