server:
  port: 8888
spring:
  application:
    name: sharding_inline
sharding:
  jdbc:
    datasource:
      names: ds_0,ds_1
      ds_0:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://127.0.0.1:3306/db0
        username: root
        password: root
      ds_1:
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        url: jdbc:mysql://127.0.0.1:3306/db1
        username: root
        password: root
    config:
      #主从分离
      masterslave:
        name: ms
        master-data-source-name: ds_0
        slave-data-source-names: ds_1
        props:
          sql.show: true
      sharding:
        #分库
        default-database-strategy:
          inline:
            sharding-column: order_id
            algorithm-expression: ds_$->{order_id % 2}
        #分片
        tables:
          t_order:
            actual-data-nodes: ds_$->{0..1}.t_order_$->{0..2}
            table-strategy:
              inline:
                sharding-column: user_id
                algorithm-expression: t_order_$->{user_id % 3}
            key-generator-column-name: id
eureka:
  client:
    enabled: false